@media only screen and (min-width: 601px) {
    .experience{
    padding-top: 5%;
    padding-bottom: 50px;
}

.title-experience{
    text-align: center;
    font-size: 60px;
    color: #fff;
    padding-bottom: 20px;
    margin-top: 5%;
}

.description-experience{
    font-size: 25px;
    color: #fff;
    text-align: center;
    margin: 0 100px 0 100px;
    padding-bottom: 5%;
}

.container{
    text-align: center;
}


.tags-one{
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.tags-two{
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.badge{
    margin-right: 10px;
}
.work-experience-btn {
    display: flex;
    justify-content: center;
}
}

@media only screen and (max-width: 600px) {
        .experience{
            padding-bottom: 50px;
        }
        
        .title-experience{
            font-size: 50px;
            color: #fff;
            padding-bottom: 20px;
            margin-top: 20px;
        }
        
        .description-experience{
            font-size: 20px;
            color: #fff;
            padding-bottom: 40px;
        }
              
        .badge{
            margin-bottom: 10px;
        }   
     
        .tags-two{
            margin-bottom: 10%;
        }
}
